
<div class="wrap">
    <div class="content">
        <h3>Post</h3>
        <div class="posts">
            {{#if post.length}}
            {{#each post}}
            <div class="post">
                <div class="post__title">
                    <h2>{{title}} <i class="fas fa-edit"></i></h2>
                </div>
                <div class="post__content">
                    <img src="http://placehold.jp/180x180.png" alt="">
                    <p>{{messagePrev}}</p>
                </div>
                <div class="post__footer">
                    <div class="date">
                        <span>Date: 18/10</span>
                        <span>Time: 16:47</span>
                    </div>
                    
                    <a href="/view/{{id}}" class="link">Посмотреть</a>
                </div>
            </div> 
            {{/each}}
            {{else}}
                <p>Постов нет</p>
            {{/if}}
        </div>
    </div>

    <div class="sidebar">
        <h3>Category</h3>
        <div class="category">
            {{#each category}}
            <div class="category__item">
                
                <label>
                    <input type="checkbox">
                    {{title}}
                    
                    </label>
            </div>
            {{/each}}
        </div>
    </div>
</div>